
body{
    background-color: rgb(216, 237, 225);
    margin: 0; 
    font-family: serif; 
}

.hero {
    background-color:rgb(83, 122, 100);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 5ch;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


